	<head>
		<title>TimeOut Fest</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.0.min.js"></script>
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
<meta name="google-site-verification" content="0Vb0ljM7FaPIND6LxR_AfMHBu8nMAF2hxJVeT3zYCKU" />
    <style type="text/css">
h2, h3 {
  color: #FFD70D;
  font-weight: bold;
}
h2 > span {
  font-weight: bold;
}
h3 > span {
  font-weight: bold;
}
</style>
<style>
body>div>header>nav>#small-menu{
	display: none;
}
body>div>header>nav>.large-menu{
	display: inline-block;
}
@media screen and (max-width: 600px) {
	body>div>header>nav>#small-menu{
		display: inline-block;
	}
	body>div>header>nav>#large-menu{
		display: none;
	}
}
a {
  border-bottom: 0px;
}
</style>
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<form action="https://www.eventbrite.com/e/timeout-fest-tickets-22756454167" type="GET">
							<button type="submit" style="background-color: rgba(255,215,13, 0.2);"><h2 style="visibility: visible; opacity: 10; color: #FFD70D; padding-right: 10px; padding-left: 10px;"><a href="https://www.eventbrite.com/e/timeout-fest-tickets-22756454167" style="visibility: visible;">Tickets On Sale Now!</a></h2></button>
						</form>
						<nav>
							<a id="small-menu" href="#menu">Menu</a>
							<a id="large-menu" href="/">Home</a>
							<a id="large-menu" href="/about">About</a>
							<a id="large-menu" href="/info">Info</a>
							<a id="large-menu" href="/lineup">Lineup</a>
							<a id="large-menu" href="#contact">Contact</a>
						</nav>
					</header>
 
				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="/">Home</a></li>
						<nav>
								<li><a href="/about">About</a></li>
								<li><a href="/info">Info</a></li>
								<li><a href="/lineup">Lineup</a></li>
<!--                <li><a href="https://www.eventbrite.com/e/timeout-music-arts-fest-tickets-20674919240">Events</a></li> -->
								<!-- <li><a href="/sponsors">Sponsors</a></li> -->
								<li><a href="#contact">Contact</a></li>
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav>
