 <style type="text/css">
 .highlight {
 	display: inline-block;
 	padding-left: 25px;
 	padding-right: 25px;
 	padding-bottom: 20px;
 	color: white;
 	font-size: 30px;
 }
 </style>
<h3 class="c10 c28" id="" style="text-align: center;"><div class="highlight">12+ EPIC PERFORMANCES</div><div class="highlight">3 STAGES OF MUSIC</div><div class="highlight">1 DJ TENT</div><div class="highlight">ARTS &amp; CRAFT VENDORS</div><div class="highlight">LOCAL FOOD FAVORITES</div></span></h3>
<br />
<h3 class="major" style="color: white;">Tap Any Section</h3>
<!--
<select id="pageJumper">
	<option>Press for options...</option>
<a href="#faq"><option value="faq">FAQ</option></a>
<a href="#security"><option value="security">Security</option></a>
<a href="#entrance"><option value="entrance">Entrance & Transportation</option></a>
<a href="#health"><option value="health">Health/Medical</option></a>
<a href="#wellbeing"><option value="wellbeing">Well Being</option></a>
<a href="#facilities"><option value="facilities">Facilities & Services</option></a>
</select>
<br />
<script type="text/javascript">
function jumpPage() {
    if(document.getElementById('pageJumper').value){
        window.location.href = '#' + document.getElementById('pageJumper').value;
    }
}
$(document).on('change','#pageJumper',function(){
    jumpPage();
});
</script>
-->
<style type="text/css">
button.accordion {
    background-color: #3F4E85;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    padding-bottom: 70px;
}

button.accordion.active, button.accordion:hover {
    background-color: #45558D;
}

.plus-accor:after {
    font-size: 80px;
    /*color: #777;*/
    float: right;
    margin-left: 5px;
    content: '+';
}

button.accordion.active>h2>.plus-accor:after {
    content: "-";
}

div.panel {
    padding: 0 18px;
	padding-top: 30px;
    background-color: #45558D;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.panel.show {
	padding-top: 30px;
    opacity: 1;
    max-height: 10000px;
}
.subhead {
	font-weight: bold;
}
</style>
<button class="accordion">
	<h2><div class="plus-accor"></div>WHAT WE EXPECT DURING THE BEST TIME OF YOUR LIFE</h2>
</button>
<div class="panel">
<p class="subhead">IT’S TIME FOR A TIMEOUT</p>
<p>Job well done. We’re proud of you. Take the night off. Better yet, take the week off. It’s time to reward ourselves for clocking in the 9-5. You deserve to relax and enjoy all the arts have to offer. You deserve a TimeOut.</p>
<p>Unwind from the work week with a world-class art experience specifically designed for your comfort and passion for live entertainment and the arts in mind. We're the city that put mankind on the moon, and during the week of August 20th, we're the capital of arts and entertainment.</p> 

<p class="subhead">PEACE, LOVE, RESPECT, AND GOOD VIBES</p>
<p>Leave your worries at home. For a few days, this summer celebrates the best things in life. Smiles, high fives, and random acts of kindness. Happiness is the goal. Proactive positivity is a proven way to get there. We hate being negative, but we've seen it too many times to leave it unsaid. You've seen it too. Don't be a vibe killer or a mood wrecker.</p>
<p>This place produces happiness. We want to ensure the sweetest, sun-kissed crop of smiles every year by properly cleaning up. Recycle what you can, reduce what you can’t, and reuse what you have.</p>

<p class="subhead">ALL IN THIS TOGETHER</p>
<p>Consider the community and keep an eye on your friends. Extend that friendship to new friends too — even those you’ve never met before! If you see someone who can use a hand, offer it. You will make his or her day and provide an example that will multiply across the Rocket City.</p>
</div>


<button class="accordion">
	<h2 class="c5" id="facilities"><div class="plus-accor"></div><span class="c24 c15 c25">FACILITES &amp; SERVICES</span></h2>
</button>
<div class="panel">
<p class="subhead">INFORMATION BOOTHS</p>
<p>We have a handful strategically placed information booths throughout the grounds. Each booth is staffed with TimeOut Fest crew members who will address any and all issues or concerns.</p>
<p class="subhead">HAND WASHING STATIONS</p>
<p>Hand-washing stations are located next to the bathrooms as well as in the food court. Please only use the water for your washing needs.</p>
<p class="subhead">WATER</p>
<p>Water is your best friend at TimeOut Fest! So please take your hydration as seriously as we do. (Remember that alcohol actually dehydrates you.) TimeOut Fest offers free, drinking water located throughout the festival at various water stations. Bring a water bottle or two to fill up and stay hydrated.</p>
<p class="subhead">MEDICAL / SAFETY</p>
<p>Medical and safety staff are on duty during the duration of the whole festival. Staff members are strategically placed throughout the festival. Exact tent locations will be provided closer to the festival. If you have any concerns, or you feel less than perfect, seek out a tent. If you’re not sure whether it’s an emergency, act like it is.</p>
<p class="subhead">GENERAL STORE/LOST & FOUND</p>
<p>There is one General Store located straight ahead from the main entrance of TimeOut Fest. Each store offers a few of your basic needs, music merchandise, as well as a Lost & Found.</p>
<p class="subhead">ARTS & CRAFT VENDORS</p> 
<p>We invited a selective, top-tier group of arts & craft vendors to offer their products. Bring some extra spending money to purchase some amazing pieces!</p>		
</div>


<button class="accordion">
	<h2 class="c11 c28" id="wellbeing"><div class="plus-accor"></div><span class="c24 c25 c15">WELL-BEING</span></h2>
</button>
<div class="panel">
<p>During TimeOut Fest, your wellbeing is our first priority!</p>
<p class="subhead">PREPARE THYSELF</p>
<p>Since those Alabama summer days can get pretty baked? Think hydration, plenty of sunblocks, rain gear, hats.  Deck yourself with blankets, towels, and anything you need to keep you cool and make the Fest perfect for you.</p>
<p class="subhead">STAY CAUTIOUS</p>
<p>Be aware of your surroundings, and trust your instincts. If you’re uncomfortable, move on, and avoid traveling alone. Please be cautious! Date rape drugs are real so never take drinks from strangers. It is very important that you never set your drink down and pick it up later. If you suspect anything PLEASE IMMEDIATELY alert TimeOut Fest staff and or security personnel.</p>
<p class="subhead">HELP SOMEONE WHO MAY HAVE BEEN HARMED</p>
<p>Help them seek immediate medical attention and notify safety personnel, never brush off anything or take things lightly. If the person who harmed them is still nearby, stay with the victim. Be supportive and wait until the proper individuals who provide medical and security services arrive.</p>
<p class="subhead">AVOID CAUSING HARM TO YOURSELF AND OTHERS</p>
<p>Remember that “no” means “NO,” even if it’s said politely. Keep in mind that someone who is wasted is not capable of making responsible decisions, and neither are you while intoxicated.</p>
<p>If you or a friend(s) are in trouble, please seek out medical help IMMEDIATELY. Our biggest concern is your well-being.</p>
</div>


<button class="accordion">
	<h2 class="c12" id="transportation"><div class="plus-accor"></div><span class="c14 c15">TRANSPORTATION AND ENTRANCE </span></h2>
</button>
<div class="panel">
<p>Located in the greatest city on earth, Huntsville, AL on the Jaycee Fairgrounds 2180 Airport Road Southwest, Huntsville, AL 35801 and right of Memorial Parkway. During this amazing experience, thousands come to enjoy the festivities. There will be so much traffic please, consider ridesharing - it helps reduce traffic, saves money on gas and the earth will love you.</p>
<p class="subhead">ARRIVAL TIPS</p>
<ul>
<li>Like officers everywhere, Huntsville police expect you to obey the highway safety laws, and they’re prepared to enforce them. They’re especially strict about open <container violations, so think, do you really want to start the weekend in the slammer?</li>
<li>Please stay in your car, especially when you’re waiting in line to enter the festival.</li>
<li>TimeOut is a friendly place. Don’t kill the vibe by cutting in line. You’ll be in soon, we promise.</li>
</ul>
<p class="subhead">How to deal with traffic delays:</p>
<ul>
<li>Fill up your tank before getting in line to enter the festival. There are no gas stations on site.</li>
<li>Please use the restroom before you get in line, there are no bathrooms in line.</li>
<li>Pack some snacks and nonalcoholic beverages.</li>
<li>Play 20 Questions.</li>
</li>
<p class="subhead">DIRECTIONS BY CAR</p>
<p>From the North: Take US 231/431 to the Airport Rd exit. Make a Right on Airport RD. After two lights make a Right on S. Runway RD. You have arrived at TimeOut Fest 2016.</p>
<p>From the South: Take US 231/431 to the Airport Rd exit. Make a Left on Airport RD. After two lights make a Right on S. Runway RD. You have arrived at TimeOut Fest 2016.</p>
<p>From the West: From I-565 eastbound merge onto  US 231/431 S. Take US 231/431 to the Airport Rd exit. Make a Left on Airport RD. After two lights make a Right on S. Runway RD. You have arrived at TimeOut Fest 2016.</p>
<p>From the East: From I-565  westbound US 231/431 S. Take Airport RD., going west. Turn right on S. Runway RD. You have arrived at TimeOut Fest 2016.</p>
<p class="subhead">DIRECTIONS BY BUS</p>
<p>The Greyhound Bus Line goes right to Huntsville, AL and the bus station is located 4 miles from the festival at 601 Monroe Street Northwest, Huntsville, AL 35801. Remember, we don’t offer transportation from the bus stop to the festival so have a friend pick you up or take a local taxi.</p>
<p class="subhead">RIDESHARING</p>
<p>TimeOut supports ride sharing to reduce traffic and our carbon footprint.</p>
<p>PARKING INFORMATION COMING SOON.</p>
</div>


<button class="accordion">
	<h2 class="c8 c28" id="health"><div class="plus-accor"></div><span class="c24 c25 c15">HEALTH/MEDICAL</span></h2>
</button>
<div class="panel">
<p class="subhead">FOOD SAFETY</p>
<p>Please don't buy from unlicensed vendors. We work hard to ensure all official food and drink is good and safe. And really, if you buy something from an unlicensed vendor, you have no idea what you're getting. There is lots of great stuff to buy from official TimeOut vendors, who deserve your business because they have made an amazing commitment to support TimeOut Fest.</p>
<p class="subhead">ALCOHOL</p>
<p>NO OUTSIDE ALCOHOL WILL BE ALLOWED INTO THE MAIN GROUNDS. Alcohol can only be purchased from TimeOut licensed vendors. The sale of alcohol by anyone other than a licensed vendor is strictly prohibited. All alcohol will be confiscated at the festival entrances.</p>
<p>We are against underage drinking and all those attendees who are under 21 will have a separate colored wristband and will be ID’d at the bars inside the main fest grounds.</p>
<p>Remember to drink in moderation and during the heat of August, the dehydration will only be amplified. If you choose to drink remember to also drink large amounts of water as well. Remember you can have a lot of fun without alcohol!</p>
<p class="subhead">DRUGS</p>
<p>TimeOut stands squarely against drug use. First, it's dangerous to your health, especially in the August heat, because they raise your body temperature and can lead to fatality.  Drugs also drain H2O from your cells. Second, it can ruin the weekend for you and those around you. Last but not least, it is against the law: If it is illegal outside the festival, it is illegal inside!</p>
<p>If you see someone who is sick, upset, scared or clearly having a bad experience, find a medical tent or festival staff member immediately. Provide all the information you can to safety staff or medical staff.</p>
<p>By steering clear of substances and getting help for those who need it, you are contributing positively to a safer TimeOut Fest, and the whole TimeOut community thanks you for that.</p>
<p class="subhead">WARNING SIGNS OF DRUG OR ALCOHOL OVERDOSE</p>
<ul>
<li>Pale skin and or skin discoloration</li>
<li>Sleepiness, confusion and or disorientation</li>
<li>Difficulty standing</li>
<li>Difficulty walking</li>
<li>Unconscious</li>
<li>Skin that is cool and sweaty or hot and dry</li>
<li>Blurred vision</li>
<li>Inability to talk</li>
<li>Seizures</li>
<li>Irregular breathing</li>
<li>Inability to stay awake</li>
</ul>

<p class="subhead">HEALTH TIPS</p>
<p>We will not stop reiterating the importance of drinking water (and other nonalcoholic beverages), before you’re thirsty and drink often. Dehydration will lead to a miserable time at TimeOut Fest, water makes your brain and body work, and you need them both to be a part of TimeOut. Also to help your water intake please intake drink that has high water contents, such as, sports drinks, iced tea or anything else without alcohol. In addition, foods like apples, watermelon, pineapple, and cucumber have large amounts of water in them.</p>
<p>*A very easy way to tell if you’re well hydrated, is urine should be clear and odorless.  If your urine is yellow and smelly then you are in trouble, drink up immediately.</p>
<p>Alabama swelters in the summertime, even when the sun is not visible, you will feel like a cosmic storm. Please take the necessary precautions such as but not limited to packing a hat, breathable clothing, and plenty of water. Don’t forget to apply sunscreen early and often.</p>
<p>There’s one easy way to wreck your weekend and those around you: drugs and alcohol.</p>
<p class="subhead">MEDICAL EMERGENCY SERVICES</p>
<p>Medical staff will be present during the entirety of the festival check back closer to the festival for the exact medical tent location.</p>
<p class="subhead">EMERGENCY VEHICLE ACCESS</p>
<p>If in the unfortunate case we have an issue where we must have emergency vehicles move around the festival please, walk on the sides of the roads and please let all official vehicles through.</p>
</div>


<button class="accordion">
	<h2 class="c8 c28" id="security"><div class="plus-accor"></div><span class="c24 c25 c15">SECURITY</span></h2>
</button>
<div class="panel">
<p class="subhead">SAFETY STAFF</p>
<p>You can find our safety staff roaming, throughout every part of the festival.</p>
<p>Our security staff is trained to help make sure everyone has a good time and stays safe. If you have a security issue, seek out one of the security staff or locate one of their stations.</p>
<p>All persons will be searched while entering the main festival grounds. Remember this when deciding what to bring and be prepared to be searched when you enter the main festival grounds.  Find out what you can and can’t bring here.</p>
<p class="subhead">SAFETY TIPS</p>
<p>TimeOut is filled with thousands of amazing people, but remember there are a lot of people. So, keep your valuables in your car or with you at all times.</p>
<p><strong>Practice “neighborhood watch” tactics. If you see something, say something. Find a TimeOut team member and let them know your concerns!</strong></p>
<p>How do we get by? With a little help from our friends, of course!</p>
<p>If a member of the gang is out of it, is heading for trouble or is vulnerable for any other reason, you have friendship duties to fulfill. Stay close and see them through it or if needed, get immediate help. Be there for them like you’d want them to be there for you.</p>
</div>

<button class="accordion">
	<h2 class="c8 c28 c16" id="faq"><div class="plus-accor"></div><span class="c14 c15 c35">FAQ</span></h2>
</button>
<div class="panel">


<p class="c8 c16 subhead"><span class="c14 c15">I DON&#39;T HAVE A QUESTION, BUT I DO HAVE AN AWESOME IDEA!</span></p>
<p class="c8 c16"><span class="c2">Email us!</span></p>
<p class="c8 c16 subhead"><span class="c14 c15">CAN I LIVE AT JAYCEE FAIRGROUNDS?</span></p>
<p class="c8 c16"><span class="c2">No&hellip;, unfortunately we all must return to the real world beginning at midnight on Saturday August 20th, 2016.</span></p>
<p class="c8 c16 subhead"><span class="c14 c15">WHO WILL BE PLAYING?</span></p>
<p class="c8 c16"><span class="c2">Full line-up will be announced soon.</span></p>
<p class="c8 c16 subhead"><span class="c14 c15">CAN I HAVE A CAMPFIRE?</span></p>
<p class="c8 c16"><span class="c2">No, but those who purchased a tailgate pass, may be bring a limited amount of items, too grill. Check back for further details.</span></p>
<p class="c8 c16 subhead"><span class="c14 c15">WILL THERE BE CAMPING?</span></p>
<p class="c8 c16"><span class="c2">No, sorry, many great accommodations are available in Huntsville though!</span></p>
<p class="c8 c16 subhead"><span class="c14 c15">WHAT KIND OF ACCOMMODATIONS ARE AVAILABLE IN HUNTSVILLE?</span></p>
<p class="c8 c16"><span class="c2">There are hotels and temporary rental properties available in the city of Huntsville, and surrounding Madison/Limestone County. Book your hotel early! A comprehensive list of accommodations will be added soon.</span></p>
<p class="c8 c16 subhead"><span class="c14 c15">WILL TIMEOUT FEST TAKE APPLICATIONS FOR BAND/ACT TO PERFORM AT THE EVENT?</span></p>
<p class="c8 c16"><span class="c2">Yes, but a very limited number of spots will be available, this application will open up in the next few weeks, so check back soon.</span></p>
<p class="c8 c16 subhead"><span class="c14 c15">WHAT HAPPENS IF THE FESTIVAL SELLS OUT, WILL MORE TICKETS BECOME AVAILABLE?</span></p>
<p class="c8 c16"><span class="c2">In the event that the festival sells out please check the website for information regarding additional ticket purchases.</span></p>
<p class="c8 c16 subhead"><span class="c14 c15">WHAT WILL BE AVAILABLE AT THE FOOD VENDORS?</span></p>
<p class="c8 c16"><span class="c2">A diverse and delectable variety of all sorts&rsquo; food (including vegetarian/vegan options) and drinks will be available on-site.</span></p>
<p class="c8 c16 subhead"><span class="c14 c15">WILL CREDIT CARDS, BE ACCEPTED AT ALL MERCHANDISE BOOTHS AND VENDORS?</span></p>
<p class="c8 c16"><span class="c2">Yes, major credit cards will be accepted.</span></p>
<p class="c8 c16 subhead"><span class="c14 c15">MAY I BRING MY MOBILITY DEVICE?</span></p>
<p class="c8 c16"><span class="c2">Please bring your manual that accompanies your motorized wheelchair, wheelchair, or your three or four-wheeled scooter. Please operate your mobility device at walking speed and follow manufacturer&rsquo;s instructions.</span></p>
<p class="c8 c16 subhead"><span class="c14 c15">WHAT HAPPENS IF IT RAINS?</span></p>
<p class="c8 c16"><span class="c2">We expect beautiful weather, however TimeOut Fest is a rain or shine event.</span></p>
<p class="c8 c16 subhead"><span class="c14 c15">If I AM A VENDOR WHAT IS THE APPLICATION PROCESS?</span></p>
<p class="c8 c16"><span class="c2">Applications will be open soon so check back for details!</span></p>
<p class="c8 c16 subhead"><span class="c14 c15">IF I WANT TO HELP OUT ARE THERE VOLUNTEER POSITIONS AVAILABLE?</span></p>
<p class="c8 c16"><span class="c2">Yes, applications will be open soon so check back for details!</span></p>
<p class="c8 c16 subhead"><span class="c14 c15">WHEN WILL THE SCHEDULE BE RELEASED?</span></p>
<p class="c8 c16"><span class="c2">The TimeOut Fest 2016 schedule will be released closer to fest dates. We will be releasing schedules on timeoutfest.com so check back for dates.</span></p>
<p class="c8 c16 subhead"><span class="c14 c15">WHAT TYPE OF TICKETS ARE AVAILABLE?</span></p>
<p class="c8 c16"><span class="c2">There quite a few different ticket packages that will be available please check </span><span class="c22 c19 c17">here</span><span class="c2">&nbsp;for the various options.</span></p>
<p class="c8 c16 subhead"><span class="c14 c15 c31"><a class="c34" href="https://www.google.com/url?q=http://hangoutmusicfest.com/festival-info/%23faq-47643&amp;sa=D&amp;ust=1457633398196000&amp;usg=AFQjCNH5_nrxMrMJpV3TYhQn8BoAEVeTxA">PURCHASED MY TICKET, WHEN WILL I RECEIVE MY WRISTBAND?</a></span></p>
<p class="c8 c16"><span class="c2">Wristbands will ship to ticket buyers in July 2016. Orders unable to be delivered will be available for pickup at will call. A photo ID and the credit card used for purchase are required for Will Call pickup.</span></p>
<p class="c29 c21 c16 subhead"><span class="c14">DO KIDS GET IN FREE?</span></p>
<p class="c21 c16 c29"><span class="c19 c32">Children aged 5 and under are admitted free if accompanied by a ticket holding adult. Due to safety concerns, we cannot admit more than 2 children per supervising adult. Anyone under the age of 19 must be accompanied by an adult over the age of 21.</span></p>
<p class="c8 c16 subhead"><span class="c14 c15">WHAT CAN I BRING TO THE FEST?</span></p>
<p class="c8 c16"><span class="c2">Items allowed within the main festival grounds.</span></p>
<ul class="c1 lst-kix_list_19-0 start">
   <li class="c6"><span class="c2">Liquid sunscreen, in non-aerosol container of 3 oz or less</span>
   </li>
   <li class="c6"><span class="c2">Bug spray in non-aerosol containers of 3 oz or less</span>
   </li>
   <li class="c6"><span class="c2">Small backpacks, bags, and purses (no larger than 20&rdquo; x 15&rdquo; x 13&rdquo;)</span>
   </li>
   <li class="c6"><span class="c2">Blankets &amp; beach towels</span>
   </li>
   <li class="c6"><span class="c2">Sunglasses and hats</span>
   </li>
   <li class="c6"><span class="c2">Up to 2 EMPTY water container up to 2 liters in size</span>
   </li>
   <li class="c6"><span class="c2">EMPTY CamelBak style water bladder systems subject to specific guidelines**</span>
   </li>
</ul>
<ul class="c1 lst-kix_list_20-0 start">
   <li class="c6 c21"><span class="c2">If you need medicine, please note that prescription and OTC medications are subject to specific guidelines, outlined </span><span class="c22 c19 c17">here</span><span class="c2">.</span>
   </li>
</ul>
<ul class="c1 lst-kix_list_21-0 start">
   <li class="c6"><span class="c2">Low-seated concert chairs (i.e., sitting less than a foot off the ground)</span>
   </li>
   <li class="c6"><span class="c2">Camera WITHOUT a detachable lens (detachable lenses shorter than 2 inches are OK)</span>
   </li>
   <li class="c6"><span class="c2">Selfie sticks (Must expand no longer that 40&quot; in length, must be made of light material: light metal, rubber, plastic. All selfie sticks are subject to TimeOut staff discretion and may or may not be allowed)</span>
   </li>
   <li class="c6"><span class="c2">Totems (Must be no taller than 6 feet, and no thicker than 1/2 inch. Must be made of light material: swim noodles, foam type material, cardboard tubes, fabric, paint, string, yarn, light plastic, balloons and/or blow up items. Totems made of wood, metal and/or PVC material will NOT be allowed. This includes flag poles and heavy sticks.)</span>
   </li>
   <li class="c6"><span class="c2">Vehicle key code (this makes it easy for the locksmith to duplicate your car key if you lose it)</span>
   </li>
   <li class="c6"><span class="c2">Phosphate-free and sulfate-free soaps, detergents and shampoos</span>
   </li>
   <li class="c6"><span class="c2">Earplugs</span>
   </li>
</ul>
<p class="c8 c16"><span class="c2">* Guidelines for CamelBak style hydration systems: Although CamelBak style water bladder systems are allowed EMPTY into the venue, the water bladders themselves must be capable of being removed from the carrier and must be transparent enough to allow security to visually inspect the empty bladder. Additionally, CamelBak style bladder carriers must have no more than two main compartments and one small compartment. Any CamelBak style water bladder that cannot be removed from the carrier and/or is opaque enough to prevent visual inspection, and any CamelBak style bladder carriers larger than the permitted size will not be allowed into the venue.</span></p>
<p class="c8 c16 subhead"><span class="c14 c15">WHAT ITEMS SHOULD I LEAVE AT HOME?</span></p>
<p class="c8 c16"><span class="c2">The following items are prohibited within the main festival grounds:</span></p>
<ul class="c1 lst-kix_list_22-0 start">
   <li class="c0"><span class="c2">Tents, umbrellas, or temporary structures of any kind</span>
   </li>
   <li class="c0"><span class="c2">Large lawn chairs</span>
   </li>
   <li class="c0"><span class="c2">Weapons or any item that can be used as a weapon</span>
   </li>
   <li class="c0"><span class="c2">Narcotics, including marijuana, drug paraphernalia and any other illegal substances</span>
   </li>
   <li class="c0"><span class="c2">Large bags, purses, or backpacks (larger than 18 x 16 x 12).</span>
   </li>
   <li class="c0"><span class="c2">Alcoholic beverages of any kind</span>
   </li>
   <li class="c0"><span class="c2">Drones</span>
   </li>
   <li class="c0"><span class="c2">Kites</span>
   </li>
   <li class="c6"><span class="c2">Focused light devices</span>
   </li>
   <li class="c6"><span class="c2">Unsealed: cigarette packages, tampons, packs of gum and chap stick/lip gloss</span>
   </li>
   <li class="c6"><span class="c2">Marker pens and spray paint</span>
   </li>
   <li class="c6"><span class="c2">Air horns and megaphones</span>
   </li>
   <li class="c6"><span class="c2">Items intended for sale/promotion</span>
   </li>
   <li class="c6"><span class="c2">Water guns, water balloons, or any water projectile</span>
   </li>
   <li class="c6"><span class="c2">Glass in any form</span>
   </li>
   <li class="c6"><span class="c2">Outside food or beverages</span>
   </li>
   <li class="c6"><span class="c2">Skateboards, rollerblades, hoverboards, scooters, bicycles, and/or motorized carts or scooters</span>
   </li>
   <li class="c6"><span class="c2">Bicycles inside festival grounds.</span>
   </li>
   <li class="c6"><span class="c2">Large chains or spiked jewelry</span>
   </li>
   <li class="c6"><span class="c2">Fireworks, sparklers, firecrackers, and explosive devices</span>
   </li>
   <li class="c6"><span class="c2">Chinese Lanterns</span>
   </li>
   <li class="c6"><span class="c2">Umbrellas</span>
   </li>
   <li class="c6"><span class="c2">Coolers inside festival grounds</span>
   </li>
   <li class="c6"><span class="c2">Non service pets</span>
   </li>
   <li class="c6"><span class="c2">Video equipment</span>
   </li>
   <li class="c6"><span class="c2">Professional photo equipment (SLR/DSLR cameras, detachable/removable lens cameras)</span>
   </li>
   <li class="c6"><span class="c2">Audio recording equipment</span>
   </li>
   <li class="c6"><span class="c2">Portable audio equipment</span>
   </li>
   <li class="c6"><span class="c2">Professional radios or walkie-talkies</span>
   </li>
   <li class="c6"><span class="c2">Hammocks</span>
   </li>
   <li class="c6"><span class="c2">Any item that can be used as a means to disturb the peace, endanger the safety of the crowd, and/or inflict damage to people and goods</span>
   </li>
</ul>
<ul class="c1 lst-kix_list_23-0 start">
   <li class="c6"><span class="c2">TimeOut Fest and the private security personnel at the entrances reserve the right to make the final determination on allowed and non-allowed items.</span>
   </li>
</ul>
<p class="c4 subhead"><span class="c14 c15">WILL WATER STATIONS BE AVAILABLE?</span></p>
<p class="c4"><span class="c2">Free filling stations will be located throughout the Fest. Cool off (and freshen up) at the misting areas on site.</span></p>
<p class="c4 subhead"><span class="c14 c15">CAN I BRING A BACKPACK?</span></p>
<p class="c4"><span class="c2">We encourage attendees to leave backpacks their beloved backpacks at home. If you are bringing a bag, please make sure it is small (no larger than 18 x 16 x 12) and all bags will be screened by TimeOut security staff. There will be an express entrance line for fans that come without backpacks.</span></p>
<p class="c4 subhead"><span class="c14 c15">CAN I TAKE MY WRISTBAND OFF?</span></p>
<p class="c4"><span class="c2">Wristbands cannot be removed and must be worn all throughout the Fest. Please don&rsquo;t remove, stretch or tamper with your wristband in any way or you will be denied entry.</span></p>
<p class="c4 subhead"><span class="c14 c15">I MISPLACED MY WRISTBAND, NOW WHAT?</span></p>
<p class="c4"><span class="c2">Wristbands are non-transferable, nonexchangeable and cannot be replaced.</span></p>
<p class="c4 subhead"><span class="c14 c15">I FOUND TICKETS ON EBAY, SHOULD I BUY THEM?</span></p>
<p class="c4"><span class="c2">Tickets that will be advertised on other mediums such as but not limited to, Craigslist, eBay, or a ticket broker site, unfortunately, many of these are already used or are counterfeits. Only tickets purchased from Eventbrite ticketing are considered valid purchases. Anybody with a fake ticket will be caught and you will be escorted directly from the Fest.</span></p>
<p class="c4 subhead"><span class="c14 c15">WILL ATMS BE AVAILABLE DURING THE FEST?</span></p>
<p class="c4"><span class="c2">There will be a number of ATMs located throughout the Fest.</span></p>
<p class="c4 subhead"><span class="c14 c15">HOW CAN I APPLY FOR PRESS CREDENTIALS?</span></p>
<p class="c4"><span class="c2">Applications will open up soon, check back for details. Any questions related to press/media at the festival contact us </span><span class="c22 c19 c17">here</span><span class="c2">.</span></p>
<p class="c4 subhead"><span class="c14 c15">WHAT IF I </span><span class="c14">LOSE</span><span class="c14 c15">&nbsp;MY LIGHTSABER?</span></p>
<p class="c4"><span class="c2">We hope you don&#39;t lose anything at this year&#39;s Fest, but if you do, stop by the TimeOut Fest general store. Not coming back to TimeOut? You can email us to inquire about your lost item, here. Be sure to include the type, brand, color and any additional info you can provide to identify the item.</span></p>
<p class="c4 subhead"><span class="c14 c15">I FORGOT SOMETHING?</span></p>
<p class="c4"><span class="c2">No worries, No problem, we&rsquo;ve got you covered. There is one well-stocked general store on site that offers a plethora of day essentials. Find out more about the general store </span><span class="c19 c17 c22">here</span><span class="c2">.</span></p>
<p class="c4 subhead"><span class="c14 c15">YOU HAVEN&rsquo;T ANSWERED MY QUESTION. HOW DO I CONTACT YOU?</span></p>
<p class="c4"><span class="c2">You can contact us </span><span class="c22 c19 c17"><a href="#contact">HERE</a></span><span class="c2">!</span></p>
<hr style="page-break-before:always;display:none;">
<p class="c3"><span></span></p>
<p class="c37"><span class="c19 c32"></span></p>
</div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
        this.classList.toggle("active");
        this.nextElementSibling.classList.toggle("show");
  }
}
</script>
