<!DOCTYPE html>
<html>
	<head>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
    <title>TriageNet Login</title>
    <link rel='stylesheet' type='text/css' href='/css/style.css' >
    <link rel="stylesheet" type="text/css" href="/css/grid.css" >
    <link rel='stylesheet' type='text/css' href='/css/material.css' >
    <link rel='stylesheet' type='text/css' href='/css/form.css' >
	</head>
	<body>
	<% if ( reason != 'none' ) { %>
	<div class='form-center-container'>
		<div class='form-center shadow primary'>
			<h2><%= reason %></h2>
		</div>
	</div>
	<% } %>
	<div class='form-center-container'>
		<div class='form-center shadow primary'>
      <h1>Vocab Space</h1>
      <h4>Get your vocab on with lessons everday.</h4>
      <h4>Coming in Beta form soon!</h4>
		</div>
	</div>
	</body>
</html>
