<!DOCTYPE HTML>
<html>
  <% include ./_header.ejs %>

				<!-- Wrapper -->
					<section id="wrapper">
						<header>
							<div class="inner">
								<h2>Info</h2>
                <p>For any and all questions look below or ask us through the <a href="#contact" style="color: #FFD70D;">contact form</a></p>
							</div>
						</header>

						<!-- Content -->
							<div class="wrapper">
								<div class="inner">
                  
                  <% include ./_info.ejs %>
<!--

									<h3 class="major">General Info</h3>
									<p>Morbi mattis mi consectetur tortor elementum, varius pellentesque velit convallis. Aenean tincidunt lectus auctor mauris maximus, ac scelerisque ipsum tempor. Duis vulputate ex et ex tincidunt, quis lacinia velit aliquet. Duis non efficitur nisi, id malesuada justo. Maecenas sagittis felis ac sagittis semper. Curabitur purus leo donec vel dolor at arcu tincidunt bibendum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce ut aliquet justo. Donec id neque ipsum. Integer eget ultricies odio. Nam vel ex a orci fringilla tincidunt. Aliquam eleifend ligula non velit accumsan cursus. Etiam ut gravida sapien.</p>

									<p>Vestibulum ultrices risus velit, sit amet blandit massa auctor sit amet. Sed eu lectus sem. Phasellus in odio at ipsum porttitor mollis id vel diam. Praesent sit amet posuere risus, eu faucibus lectus. Vivamus ex ligula, tempus pulvinar ipsum in, auctor porta quam. Proin nec commodo, vel scelerisque nisi scelerisque. Suspendisse id quam vel tortor tincidunt suscipit. Nullam auctor orci eu dolor consectetur, interdum ullamcorper ante tincidunt. Mauris felis nec felis elementum varius.</p>

									<h3 class="major">FAQs</h3>
                  <h4>Are there ID requirements or an age limit to enter the event?</h4>
                  <p>TimeOut Fest is an all ages event, attendees 19 years old and younger must be accompanied by an adult over 21.</p>
                  <h4>What can/can’t I bring to the event?</h4>
                  <p>A good question, how to accessorize your trip but not overdo, here are some basics to keep you covered:</p>
                  <p>Bring: hats, sunglasses, dancing shoes, flash light or head lamp, water container, flip-flops, comfortable clothing, a good attitude, sunblock, non-toxic soap and bug repellent and</p>
                  <p>Don’t Bring: guns, knives, battle ram, samurai sword, drugs, and your amazing Raspberry Pi powered robot.</p>
                  <h4>Where can I contact the organizer with any questions?</h4>
                  <p>First, check out our FAQ’s section on the website. If our question is not already answered, you can contact us here.</p>
                  <h4>Can I update my registration information?</h4>
                  <p>Yes, you will need to make sure your registration is updated with your most current shipping address. Passes will be mailed to that addresses in our system in July.</p>
                  <h4>Do I have to bring my printed ticket to the event?</h4>
                  <p>No, you will not receive a paper ticket. We will be sending out RFID Wristbands in July. Please make sure your shipping address is current.</p>
                  <h4>What is the refund policy?</h4>
                  <p>All sales are final, No Refunds, No Exchanges, No Transfers.</p>
                  <h4>How do we get there?</h4>
                  <p>Okeechobee is at Jaycee Fairgrounds which is 2180 Airport RD. SW Huntsville, AL 35801.</p>
                  <p>TimeOut is a break from the day to monotony of  an industry driven city. Huntsville, the heart of TimeOut Fest is located in North Alabama, so the answer to the above question depends on where you are coming from. The shortest answer is that we are right of US 231/431 merging onto Airport Rd, the grounds will be on the West of US 231/431.</p>
                  <p>From the North: Take US 231/431 to the Airport Rd exit. Make a Right on Airport RD. After two lights make a Right on S. Runway RD. You have arrived at TimeOut Fest 2016.</p>
                  <p>From the South: Take US 231/431 to the Airport Rd exit. Make a Left on Airport RD. After two lights make a Right on S. Runway RD. You have arrived at TimeOut Fest 2016.</p>
                  <p>From the West: Take Airport RD., going east. Turn leftt on S. Runway RD. You have arrived at TimeOut Fest 2016.</p>
                  <p>From the East: Take Airport RD., going west. Turn right on S. Runway RD. You have arrived at TimeOut Fest 2016.</p>
                  <h4>Can I bring my pet?</h4>
                  <p>Sorry but Snuggles and Bella can’t come to our event, they probably wouldn’t like it either. Better leave your iguanas, ponies, parrots and ferrets at home.</p>
                  <h4>When will the festival gates open?</h4>
                  <p>Saturday, August 27th, at 12:00 Noon</p>
                  <h4>What happens if the festival sells out? Will more tickets become available?</h4>
                  <p>In the event that the festival sells out please check the website for information regarding additional ticket purchases.</p>
                  <h4>What will be available in the food areas?</h4>
                  <p>Variety of tummy satisfying options (including vegetarian/vegan options) and drinks will be available on-site.</p>

                  <h3 class="major">Vendor Application</h3>
                  <p>Learn more about the incredible team behind this festival.</p>
-->

                  <!--
									<section class="features">
										<article>
											<a href="#" class="image"><img src="images/Ezra-prof.jpg" alt="" /></a>
											<h3 class="major">Ezra Okuro</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
											<a href="#" class="special">Learn more</a>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
											<h3 class="major">Example Name</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
											<a href="#" class="special">Learn more</a>
										</article>
									</section>
                  -->

								</div>
							</div>

					</section>

          <% include ./_footer.ejs %>
	</body>
</html>
