<!DOCTYPE HTML>
<html>
  <% include ./_header.ejs %>

  <style type='text/css'>
  #lineup-img {
  	display: block;
  	margin: 0 auto;
  	width: 70%;
  }
  #wrapper>header {
  	padding: 4em 0 2.25em 0;
  }
  </style>

				<!-- Wrapper -->
					<section id="wrapper">
						<header>
							<div class="inner">
								<p><img src="images/LineupImg.jpeg" id='lineup-img'></img></p>
								<h2 style='text-align: center;'>2016 Line-up Coming Soon</h2>
                				<p></p>
							</div>
						</header>
            <!--

							<div class="wrapper">
								<div class="inner">
                  <h3 class="major">TICKET INFORMATION</h3>
                  <ul>
                    <li>Once purchased, you will receive an order confirmation email from Eventbrite on behalf of TimeOut Fest.</li>
                    <li>IMPORTANT: If you do not see your order confirmation in your inbox, make sure to check your junk/spam folder. If you still do not see your order confirmation, click <a href='https://www.eventbrite.com/support/articles/en_US/Troubleshooting/where-are-my-tickets?lg=en_U'>Shere</a> to access the Eventbrite help center.</li>
                    <li>If you are having any other technical ticketing-related issues with your order, click <a href="https://www.eventbrite.com/contact-us/">here</a> to contact Eventbrite. For general festival info, click <a href="http://governorsballmusicfestival.com/info/festival-info/">here</a>.</li>
                    <li>Barcoded tickets will not be issued for this event. Festival wristbands will be delivered by mail and start shipping during July 2016. Please allow till mid August for your wristband(s) to arrive. Wristbands will be sent to the shipping address specified on your order. All international orders will be held at will call on-site, at Jaycee Fairgrounds in Huntsville, AL during show days.</li>
                    <li>Need to view or update your shipping address? Click <a href="https://www.eventbrite.com/support/articles/en_US/How_To/how-to-update-your-ticket-registration-information?lg=en_US">here</a> for instructions. If you need to update your shipping address, update by June 30, 2016 to ensure delivery to your new address.</li>
                    <li>All sales are final. No refunds or exchanges.</li>
                    <li>Event is rain or shine.</li>
                    <li>Artists and schedule subject to change.</li>
                  </ul>
                  -->

                  <!--

									<h3 class="major">FAQ</h3>
									<p>Cras mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.</p>

                  <h3 class="major">Vendor Application</h3>
                  <p>Learn more about the incredible team behind this festival.</p>

									<section class="features">
										<article>
											<a href="#" class="image"><img src="images/Ezra-prof.jpg" alt="" /></a>
											<h3 class="major">Ezra Okuro</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
											<a href="#" class="special">Learn more</a>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
											<h3 class="major">Example Name</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
											<a href="#" class="special">Learn more</a>
										</article>
									</section>

								</div>
							</div>
                  -->

					</section>

          <% include ./_footer.ejs %>
	</body>
</html>
