<!DOCTYPE html>
<html>
	<head>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
    <title>WordSpace Word</title>
    <link rel='stylesheet' type='text/css' href='/css/style.css' >
    <link rel="stylesheet" type="text/css" href="/css/grid.css" >
    <link rel='stylesheet' type='text/css' href='/css/material.css' >
    <link rel='stylesheet' type='text/css' href='/css/form.css' >
    <style>
.form-center>ul>li>a>button {
  background: #448aff;
  color: white;
  border-style: none;
  padding: 5px;
  margin-left: 4px;
}
    </style>
	</head>
	<body>
	<div class='form-center-container'>
		<div class='form-center shadow primary'>
      <ul>
        <% for(var i = 0; i < levels.length; i++) { %>
        <li><%= levels[i][0] %> <a href="/test"><button>Test</button></a><a href="/word"><button>Study</button></a></li>
				<div style='height: 10px;'></div>
        <% } %>
      </ul>
		</div>
	</div>
	</body>
</html>
