<!DOCTYPE html>
<html>
	<head>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
    <title>TriageNet Login</title>
    <link rel='stylesheet' type='text/css' href='/css/style.css' >
    <link rel="stylesheet" type="text/css" href="/css/grid.css" >
    <link rel='stylesheet' type='text/css' href='/css/material.css' >
    <link rel='stylesheet' type='text/css' href='/css/form.css' >
	</head>
	<body>
	<% if ( reason != 'none' ) { %>
	<div class='form-center-container'>
		<div class='form-center shadow primary'>
			<h2><%= reason %></h2>
		</div>
	</div>
	<% } %>
	<div class='form-center-container'>
		<div class='form-center shadow primary'>
			<form id='login-form' class='form' method='POST' action='/auth/login'>
				<div style='height: 10px;'></div>
				<p>
					<label for='username-login'>Name/Email<br></br>
					<input id='username-login' class='shadow' name='name' required autofocus></input>
					</label>
				</p>
				<p>
					<label for='password-login'>Password<br></br>
					<input type='password' class='shadow' placeholder='SuperSecret' name='pass' id='password-login' required></input>
					</label>
				</p>
				<h4 style='text-align: center;'><button class='shadow'>Login</button></h4>
				<div style='height: 10px;'></div>
			</form>
			<p>No account? <a href='/signup'>Signup</a></p>
			<p>Forgot password? <a href='/resetpass'>Reset Password</a></p>
		</div>
	</div>
	</body>
</html>
