<!DOCTYPE HTML>
<html>
  <% include ./_header.ejs %>

  <style type='text/css'>
.buy-button {
  width: 100%;
}
  </style>

				<!-- Wrapper -->
					<section id="wrapper">
						<header>
							<div class="inner">
								<h2>Sponsors</h2>
								<p>Herea re all the incredible sponsors who helped make this festival a reality</p>
							</div>
						</header>

						<!-- Content -->
							<div class="wrapper">
								<div class="inner">

									<section class="features">
										<article>
											<a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
											<h3 class="major">Google Inc.</h3>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
											<h3 class="major">Google Inc.</h3>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
											<h3 class="major">Google Inc.</h3>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
											<h3 class="major">Google Inc.</h3>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
											<h3 class="major">Google Inc.</h3>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
											<h3 class="major">Google Inc.</h3>
										</article>
									</section>

								</div>
							</div>

					</section>

          <% include ./_footer.ejs %>
	</body>
</html>
